{% extends 'layout.html.twig' %}

{% block content %}
    <div class="col-xs-12 page-container" ng-app="webview" ng-controller="mainController" ng-cloak>
        <div class="search-group">
            <h2 class="text-center text-capitalize">Enter a URL to fetch</h2>
            <form name="uriForm" ng-submit="submit()">
                <div class="alert alert-warning" ng-show="error_message.length">{{ '{{ error_message }}' }}</div>
                <div class="input-group">
                    <span class="input-group-addon">
                        <i ng-class="{
                            'fa-check text-success': uriForm.$valid === true,
                            'fa-times text-danger': uriForm.$invalid === true
                           }"
                           class="fa"></i>
                    </span>
                    <input name="url"
                           type="url"
                           required
                           ng-model="input.search"
                           class="form-control">
                    <span class="input-group-addon">
                        <i class="fa fa-search"></i>
                    </span>
                </div>
                <button ladda="loading" ng-disabled="uriForm.$valid !== true" class="btn btn-lg btn-block btn-primary" type="submit">Search</button>
            </form>
        </div>

        <div class="row" ng-show="html_data.length && !loading" ng-cloak>
            <div class="col-sm-12">
                <p class="text-center">
                    <span ng-show="selected_tag === null" >Click on a tag to highlight them.</span>
                    <span ng-show="selected_tag !== null" >The <b>{{ '{{ selected_tag }}' }}</b> tags should be highlighted</span>
                    <button ng-show="selected_tag !== null" ng-click="dehighlightItems()" class="btn btn-sm small pull-right"><i class="fa fa-times text-danger"></i>&nbsp;&nbsp;Clear</button>
                </p>
                <br>
                <div class="row">
                    <div class="col-xs-2 tag" ng-class="{ 'selected': selected_tag == k}" ng-repeat="(k,t) in totals" ng-click="highlightItems(k)">
                        <p class="text-center">
                            <span class="text-uppercase text-success">{{ '<{{ k }}>' }}</span>
                            <br>
                            <span class="small">
                                {{ '{{ t }}' }} Time(s)
                            </span>
                        </p>
                    </div>
                </div>
            </div>
                <div class="col-sm-12">
                    <div hljs source="html_data"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="/js/app.js"></script>
    <script src="/js/controller/mainController.js"></script>
{% endblock %}